
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'


*,
*::before,
*::after
  box-sizing: border-box

img
  max-width: 100%

.container-fluid,
.container
  padding: 0px

li
  list-style: none

nav
  padding-left: 10%
  padding-right: 10%

.search-image-list-items
  margin-bottom: 20px
  border: 1px solid black
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
